**
!.dockerignore
!go.mod
!go.sum
!cmd/
!cmd/**
!internal/
!internal/**
!db/
!db/**
!licenses/
!licenses/**
!analyzers/
!analyzers/ghidra/
!analyzers/ghidra/ExportDecompiledFunctions.java
!web/
!web/package.json
!web/package-lock.json
!web/index.html
!web/eslint.config.js
!web/tsconfig.json
!web/tsconfig.app.json
!web/tsconfig.node.json
!web/vite.config.ts
!web/src/
!web/src/**
!docker/
!docker/**
