BINARYSCAN_HTTP_PORT=8080
BINARYSCAN_LOG_LEVEL=info
BINARYSCAN_DATA_ROOT=./runtime/data
BINARYSCAN_APP_IMAGE=binaryscan/app:0.1.0
BINARYSCAN_SCANNER_IMAGE=binaryscan/scanner:0.1.0
BINARYSCAN_JAVA_IMAGE=binaryscan/java:0.1.0
BINARYSCAN_GHIDRA_IMAGE=binaryscan/ghidra:0.1.0
BINARYSCAN_C_CHECKER_IMAGE=binaryscan/c-checker:0.1.0
BINARYSCAN_C_CHECKER_URL=http://c-checker:8080
BINARYSCAN_JAVA_CHECKER_IMAGE=binaryscan/java-checker:0.1.0
BINARYSCAN_JAVA_CHECKER_URL=http://java-checker:8080
BINARYSCAN_JAVA_CHECKER_VERSION=0.1.0
